.top-container{
    margin-left: 300px;
    padding-top: 90px;
}
.table-container{
    overflow-x: auto;
    overflow-y: auto;
    max-height: 450px;
}
.head{
    margin-left: 15px;
}

.table{
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.table thead{
    background-color: #ccc;
    color: #222;
    font-weight:bolder ;
}

.table th, table, td{
    padding: .8rem;
}

.table td{
    border-top: .5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover{
    background-color: #f1faee;
}

.expand{
    width: 100px;
}

.expand-large{
    width: 150px;
}

.table-container button{
    font-size: 16px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 2px;
    padding: 3px;
    border: none;
    color: white;
    text-align: center;
}
.btn1{
    background-color: #2b9348;
    color: #fff;
}

.btn1:hover{
    background-color: #80b918;
}

.btn2{
    background-color: #d00000;
}

.btn2:hover{
    background-color: #9d0208;
}

.btn-clear{
    background-color: #d00000;
}
.btn-clear:hover{
    background-color: #9d0208;
}

.add-container {
    margin-bottom: 10px;
}

.add-product {
    margin: 0 auto;
    width: 80%; 
}

.add-product input{
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    text-align: left;
}
.add-product button{
    font-size: 16px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 0px;
    padding: 3px;
    border: none;
    color: white;
    text-align: center;
}

.add-product span{
    margin: 5px;
}

@media screen and (max-width: 800px) {
    .top-container{
        margin-left: 10px;
    }
}

  
  